body {
  background-color: rgb(229, 235, 240);
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.calc {
  display: grid;
  /* margin-top: 2rem; */
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  border-radius: 2rem;
  background-color: hsl(0, 0%, 15%);
}

.display {
  border-radius: 2rem 2rem 0 0;
  background-color: hsl(0, 0%, 20%);
  grid-column: 1/-1;
  text-align: end;
  padding: 0 1rem;
}

button {
  border-radius: 50px;
  border: 1px solid grey;
  margin: 0.6rem;
  background-color: hsl(0, 0%, 30%);
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.op {
  background-color: hsl(32, 100%, 55%);
}

.op:hover {
  background-color: hsl(32, 100%, 65%);
}

.op:active {
  background-color: hsl(32, 100%, 75%);
}

.clr {
  background-color: hsl(0, 100%, 24%);
}

.clr:hover {
  background-color: hsl(0, 100%, 30%);
}

.clr:active {
  background-color: hsl(0, 100%, 35%);
}
